.card {
    background-color: aliceblue;
    width: 300px;
    border-radius: 5px;
    box-shadow: -3px 4px 19px 12px rgba(0, 0, 0, 0.42);
    padding: 30px;
    margin: 30px;
  }
  
  .card__title {
    color: grey;
  
  }
  
  .card__icon {
    margin-top: 10px;
    font-size: 90px;
    color: rgb(44, 157, 44);
  }
  
  .card__description {
    color: grey;
  
  }
  
  .card__button {
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 79, 198);
    font-size: 14px;
    margin-top: 20px;
  }