.card {
    margin: 30px;
    width: 300px;
    box-shadow: -3px 4px 19px 12px rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 116);
  }
  
  .card__top__container {
    padding: 20px;
    border-radius: 15px 15px 0px 15px;
    background-color: aliceblue;
    background-color: rgb(1, 1, 116);
  }
  
  .card__img__container {
    margin: auto;
    width: 100%;
  }
  
  .card__img {
    border: 4px solid aliceblue;
    border-radius: 50%;
    width: 100%;
  }
  
  .card__bottom__container {
    background-color: aliceblue;
    border-radius: 0px 0px 15px 15px;
  }
  
  .card__title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(1, 1, 116);
    padding: 10px;
  }
  
  .card__description {
    font-size: 18px;
    color: grey;
    margin: 18px;
   
  }
  
  .card__button {
    width: 150px;
    height: 40px;
    background-color: rgb(1, 1, 116);
    color: aliceblue;
    font-size: 18px;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
    
  }
  
  .card__button:hover {
    background-color: rgb(2, 2, 83);
  }