.card__container {
    height: 50%;
  }
  .card {
    margin: 30px;
    margin-top: 30px;
    width: 300px;
    box-shadow: -3px 4px 19px 12px rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
  }
  
  .card__img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    justify-self: center;
    border-radius: 15px 15px 0 0;
  }
  
  .card__intro {
    margin-top: 5px;
    text-align: center;
    color: orangered;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  
  .card__title {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: grey;
  }
  
  .card__description {
    height: 120px;
    padding: 10px 10px;
    text-align: center;
    color: rgb(87, 87, 87);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
  
  .card__footer {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 106, 51);
    border-radius: 0 0 15px 15px;
  }
  
  .card__footer__item {
    width: 30%;
  }
  
  .item__title,
  .item__subtitle {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  
  .item__title {
    font-size: 18px;
  }
  
  .item__subtitle {
    font-size: 12px;
    margin-top: 3px;
    font-family: "Roboto", sans-serif;
  }